/* ==============
    Colors
============== */
/*   Primary    */
/*   Nuetral    */
/* ===============
    Typography
=============== */
/*   Body copy   */
/*   Font    */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
/*  Body   */
.container {
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  font-weight: 700;
  background: #c5e4e7;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  margin-block-start: 3rem;
}
@media (min-width: 45rem) {
  .container {
    padding: 4rem;
  }
}

.sr--only {
  display: none;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  background: white;
  border-radius: 20px;
  padding: clamp(1.5rem, 0.857rem + 1.428vw, 2rem);
}
@media (min-width: 1024px) {
  .calculator {
    width: max(67%, 900px);
  }
}

h1 {
  font-size: 0;
}

/*  Inputs  */
.calculator__inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: clamp(0rem, -1.2825rem + 2.85vw, 1rem);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
::-webkit-input-placeholder {
  text-align: right;
  color: rgba(0, 73, 77, 0.3);
}

::-moz-placeholder {
  text-align: right;
  color: rgba(0, 73, 77, 0.3);
}

/*  label style  */
/*  Input style  */
.inputs__bill {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.inputs__bill--label {
  font-size: 1rem;
  color: #5e7a7d;
  display: block;
}
.inputs__bill--amt {
  border-style: none;
  display: flex;
  width: 100%;
  color: #00494d;
  border-radius: 5px;
  text-align: right;
  margin-block: 0.5rem;
  padding-block: 0.5rem;
  padding-inline-end: 1rem;
  background-color: #f4fafa;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1rem;
  background-image: url("../assets/images/icon-dollar.svg");
}
.inputs__bill--amt:focus, .inputs__bill--amt:hover {
  cursor: pointer;
  outline: 3px solid #26c0ab;
}

.error-animation {
  animation-name: shake;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
  outline: 3px solid #fb5656;
}

@keyframes shake {
  0% {
    margin-left: 0;
    outline: 3px solid #fb5656;
  }
  25% {
    margin-left: 0.5rem;
    outline: 3px solid #fb5656;
  }
  75% {
    margin-left: -0.5rem;
    outline: 3px solid #fb5656;
  }
  100% {
    margin-left: 0;
    outline: 3px solid #fb5656;
  }
}
/*  Tip percentage  */
.inputs__tip--label {
  font-size: 1rem;
  color: #5e7a7d;
  display: block;
}

.tip__btns {
  display: grid;
  grid-template-columns: repeat(2, minmax(40%, 1fr));
  gap: 0.8rem;
  margin-block: 0.8rem;
}
@media (min-width: 1024px) {
  .tip__btns {
    grid-template-columns: repeat(3, minmax(25%, 1fr));
  }
}

.btn {
  border-radius: 5px;
  border-style: none;
  padding-block: 0.3rem;
}
.btn--primary {
  color: #f4fafa;
  background-color: #00494d;
}
.btn--primary:hover, .btn--primary:active {
  cursor: pointer;
  color: #00494d;
  background-color: #26c0ab;
}
.btn--secondary {
  color: #00494d;
  background-color: #f4fafa;
  padding-inline-end: 1rem;
  text-align: center;
}
.btn--secondary::-webkit-input-placeholder {
  text-align: center;
  color: #00494d;
}
.btn--secondary:focus, .btn--secondary:hover {
  cursor: pointer;
  outline: 3px solid #26c0ab;
  text-align: right;
}

.inputs__people {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.inputs__people--label {
  font-size: 1rem;
  color: #5e7a7d;
  display: block;
}
.inputs__people--input {
  border-style: none;
  display: flex;
  width: 100%;
  color: #00494d;
  border-radius: 5px;
  text-align: right;
  margin-block: 0.5rem;
  padding-block: 0.5rem;
  padding-inline-end: 1rem;
  background-color: #f4fafa;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1rem;
  margin-block-end: 0;
  background-image: url("../assets/images/icon-person.svg");
}
.inputs__people--input:focus, .inputs__people--input:hover {
  cursor: pointer;
  outline: 3px solid #26c0ab;
}

.error--text {
  display: none;
  font-size: 0.9rem;
  color: #fb5656;
}

.show-error {
  display: inline-block;
}

/*  Results  */
.result {
  border-radius: 15px;
  border-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 1.5rem;
  background-color: #00494d;
}

.result__tip--amt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result__tip--amt .result--text {
  font-size: 0.9rem;
  color: rgba(244, 250, 250, 0.3);
}
.result__tip--amt .result--text::first-line {
  color: #f4fafa;
  font-size: 1rem;
}
.result__tip--amt .result--amt {
  color: #26c0ab;
  font-size: clamp(2rem, -0.367rem + 5.26vw, 3rem);
}
.result__tip--amt .result--total {
  color: #26c0ab;
  font-size: clamp(2rem, -0.367rem + 5.26vw, 3rem);
}

.result__reset {
  margin-top: auto;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-style: none;
  color: #00494d;
  text-transform: uppercase;
  background-color: #26c0ab;
  opacity: 0.4;
}
.result__reset:hover, .result__reset:active {
  cursor: pointer;
  filter: grayscale(0.7) contrast(1) brightness(1.5);
}

/*  Footer  */
.footer__links {
  align-self: center;
  text-align: center;
  font-size: 1rem;
  margin-block-start: 5rem;
}
.footer__links a {
  text-decoration: none;
  color: #00494d;
}

/*# sourceMappingURL=index.css.map */
