/* ==============
    Colors
============== */


/*   Primary    */

$strong-cyan: hsl(172, 67%, 45%);

/*   Nuetral    */

$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

/* ===============
    Typography
=============== */


/*   Body copy   */

$font-size: 1.5rem;

/*   Font    */

$font-mono: "Space Mono",
monospace;
$font-700: 700;

/*  Body   */

.container {
    font-family: $font-mono;
    font-size: $font-size;
    font-weight: $font-700;
    max-height: 100vh;
    background: $light-grayish-cyan;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    //align-items: center;
    @media (min-width: 992px) {
        padding: 4rem 18rem;
    }
}

h1 {
    color: $dark-grayish-cyan;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
}

.app {
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 15px;
    padding: 1.5rem;
    @media (min-width: 992px) {
        display: -ms-grid;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}

.calculations {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 1rem;
    color: $dark-grayish-cyan;
    display: block;
}

@mixin input-theme() {
    border-style: none;
    outline: none;
    display: flex;
    width: 100%;
    color: $very-dark-cyan;
    border-radius: 5px;
    text-align: right;
    padding: 0.5rem 0; //for input box size
    background-color: $very-light-grayish-cyan;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 1rem;
}

.amt-input {
    @include input-theme;
    margin: 0 0 0.8rem; //for next componennt
    background-image: url("../assets/images/icon-dollar.svg");
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

::-webkit-input-placeholder {
    text-align: right;
}

::-moz-placeholder {
    text-align: right;
}

.calculations div:nth-of-type(1) {
    margin: 1rem 0;
}


/* tip percentage */

.tip-btns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
    margin: 1rem 0 1.5rem;
}

.btn {
    background-color: $very-dark-cyan;
    color: $very-light-grayish-cyan;
    border-radius: 5px;
    border-style: none;
    padding: 0.5rem 1rem;
}

.custom-btn {
    background-color: $very-light-grayish-cyan;
    color: $dark-grayish-cyan;
}

.people {
    @include input-theme;
    background-image: url("../assets/images/icon-person.svg");
}


/* results */

.results {
    border-radius: 15px;
    border-style: none;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin: 2rem 0 0;
    background-color: $very-dark-cyan;
}

.tip-amt {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0.5rem 0;
    h3 {
        font-size: 1rem;
        color: $very-light-grayish-cyan;
    }
    h3>span {
        color: $grayish-cyan;
    }
    h2 {
        margin: 0 0 0 6rem;
        color: $strong-cyan;
    }
    .dollar {
        font-size: 2rem;
    }
}

.reset-btn {
    margin: 1.5rem 0 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    background: $strong-cyan;
    opacity: 0.1;
}