/* ==============
    Colors
============== */


/*   Primary    */

$strong-cyan: hsl(172, 67%, 45%);

/*   Nuetral    */

$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

/* ===============
    Typography
=============== */


/*   Body copy   */

$font-size: 1.5rem;

/*   Font    */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
$font-mono: "Space Mono",
monospace;
$fw-700: 700;

/*  Body   */

.container {
    min-height: 100vh;
    font-family: $font-mono;
    font-size: $font-size;
    font-weight: $fw-700;
    background: $light-grayish-cyan;
    display: flex;
    flex-direction: column;
    gap: 5.3rem;
    align-items: center;
    justify-content: center;
    margin-block-start: 3rem;
    @media(min-width: 45rem) {
        padding: 4rem;
    }
}

.sr--only {
    display: none;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    background: $white;
    border-radius: 20px;
    padding: clamp(1.5rem, 0.857rem + 1.428vw, 2rem);
    @media(min-width: 1024px) {
        width: max(67%, 900px);
    }
}

h1 {
    font-size: 0;
}


/*  Inputs  */

.calculator__inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: clamp(0rem, -1.2825rem + 2.85vw, 1rem);
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-input-placeholder {
    text-align: right;
    color: rgba($very-dark-cyan, 0.3);
}

::-moz-placeholder {
    text-align: right;
    color: rgba($very-dark-cyan, 0.3);
}


/*  label style  */

@mixin label-theme() {
    font-size: 1rem;
    color: $dark-grayish-cyan;
    display: block;
}


/*  Input style  */

@mixin input-theme() {
    border-style: none;
    display: flex;
    width: 100%;
    color: $very-dark-cyan;
    border-radius: 5px;
    text-align: right;
    margin-block: 0.5rem; // around input box
    padding-block: 0.5rem;
    padding-inline-end: 1rem;
    background-color: $very-light-grayish-cyan;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 1rem;
    &:focus,
    &:hover {
        cursor: pointer;
        outline: 3px solid $strong-cyan;
    }
}

.inputs__bill {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    &--label {
        @include label-theme();
    }
    &--amt {
        @include input-theme;
        background-image: url("../assets/images/icon-dollar.svg");
    }
}

.error-animation {
    animation-name: shake;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    outline: 3px solid hsl(0, 95%, 66%);
}

@keyframes shake {
    0% {
        margin-left: 0;
        outline: 3px solid hsl(0, 95%, 66%);
    }
    25% {
        margin-left: 0.5rem;
        outline: 3px solid hsl(0, 95%, 66%);
    }
    75% {
        margin-left: -0.5rem;
        outline: 3px solid hsl(0, 95%, 66%);
    }
    100% {
        margin-left: 0;
        outline: 3px solid hsl(0, 95%, 66%);
    }
}


/*  Tip percentage  */

.inputs__tip--label {
    @include label-theme;
}

.tip__btns {
    display: grid;
    grid-template-columns: repeat(2, minmax(40%, 1fr));
    gap: 0.8rem;
    margin-block: 0.8rem;
    @media(min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(25%, 1fr));
    }
}

.btn {
    border-radius: 5px;
    border-style: none;
    padding-block: 0.3rem;
    &--primary {
        color: $very-light-grayish-cyan;
        background-color: $very-dark-cyan;
        &:hover,
        &:active {
            cursor: pointer;
            color: $very-dark-cyan;
            background-color: $strong-cyan;
        }
    }
    &--secondary {
        color: $very-dark-cyan;
        background-color: $very-light-grayish-cyan;
        padding-inline-end: 1rem;
        text-align: center;
        &::-webkit-input-placeholder {
            text-align: center;
            color: $very-dark-cyan;
        }
        &:focus,
        &:hover {
            cursor: pointer;
            outline: 3px solid $strong-cyan;
            text-align: right;
        }
    }
}

.inputs__people {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    &--label {
        @include label-theme;
    }
    &--input {
        @include input-theme;
        margin-block-end: 0;
        background-image: url("../assets/images/icon-person.svg");
    }
}

.error--text {
    display: none;
    font-size: 0.9rem;
    color: hsl(0, 95%, 66%);
}

.show-error {
    display: inline-block;
}


/*  Results  */

.result {
    border-radius: 15px;
    border-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding-block: 2.2rem clamp(1.5rem, -0.8681rem + 5.26vw, 2.5rem);
    padding-inline: clamp(1.5rem, -0.8681rem + 5.26vw, 2.5rem);
    background-color: $very-dark-cyan;
}

.result__tip--amt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .result--text {
        font-size: 0.9rem;
        color: rgba($very-light-grayish-cyan, 0.3);
        &::first-line {
            color: $very-light-grayish-cyan;
            font-size: 1rem;
        }
    }
    .result--amt {
        color: $strong-cyan;
        font-size: clamp(2rem, -0.367rem + 5.26vw, 3rem);
    }
    .result--total {
        color: $strong-cyan;
        font-size: clamp(2rem, -0.367rem + 5.26vw, 3rem);
    }
}

.result__reset {
    margin-top: auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border-style: none;
    color: $very-dark-cyan;
    text-transform: uppercase;
    background-color: $strong-cyan;
    opacity: 0.4;
    &:hover,
    &:active {
        cursor: pointer;
        filter: grayscale(0.7) contrast(1) brightness(1.5);
    }
}


/*  Footer  */

.footer__links {
    align-self: center;
    text-align: center;
    font-size: 1rem;
    margin-block-start: 5rem;
    a {
        text-decoration: none;
        color: $very-dark-cyan;
    }
}